* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*BASE ELEMENT CSS*/

h1 {
    font-weight: bolder;
}

body, 
h1 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;

}

ul {
    padding-left: 0;

}

p {
    line-height: 1.5em;

}

/*LAYOUT STYLES*/

.main-header {
    text-align: center;
    background-color: #DDDDDD;
}

.main-header p {padding: 5%  0 12%;}

.profile-photo {
    width: 90%;

}

.content-title {
    text-align: center;
  
}

.content-title h2 {
    font-weight: bolder;

}

.content-container {
    text-align: center;

}

.content-container p {
    padding: 0 3% 3%;

}

.calculator-container p {
    padding-bottom: 25%;

}

.contact-container {
   text-align: center; 
   padding: 3% 3%;
   background-color: #DDDDDD;
}

.contact-container h3 {
    padding-bottom: 5%;

}


/*Navigation*/

.main-nav a {
   text-decoration: none;
   color: black;
   display: block;
   background-color: #F0F0F0;
   padding: 5%;
   margin: 5%;
}

.main-nav li {
   list-style-type: none;
   font-weight: bolder;
   text-transform: uppercase;
}


/*POSITIONING ELEMENTS*/


.bottom-container {
    padding: 20% 3% 3% 3%;
    background-color: #DDDDDD;
    position: relative;
}

.name-float,
.nav-float {
    position: absolute;
    display: inline-block;

}

.nav-float {
    bottom: 0;
    left: 220px;

}

.name-float {
    bottom: 0;
    left: 5px;
}





/*MEDIA QUERIES*/

@media (min-width: 768px) {

    .main-header,
    .content-container {
        width: 100%;
        margin: 0 auto;
        padding-top: 10%;

    }

    .main-nav li {
        display: inline-block;
        margin-left: 15px;
    }

    .main-nav a {
        background-color: transparent;

    }

    .profile-photo {
        float: right;
        width: 40%;
        padding: 3%;
    }


    .main-header p {
        float: left;
        width: 60%;
        font-size: large;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

      .marketing-container,
      .travel-container,
      .photo-container,
      .calculator-container{
        float: left;
        width: 50%;
        padding: 1%;
      }

      .search-container,
      .spots-container,
      .calculator-container {
        float: right;
        width: 50%;
        padding: 1%;
      }

}
