* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*BASE ELEMENT CSS*/

h1 {
    font-weight: bolder;
}

body, 
h1 {
    margin: 0;
    padding: 0;
}

/*LAYOUT STYLES*/

.main-header {
    text-align: center;
    background-color: #DDDDDD;
}

.main-header p {
padding: 5%  0 12%;
line-height: 1.5em;

}

.profile-photo {
    width: 90%;

}

/*Navigation*/

.main-nav a {
   text-decoration: none;
   color: black;
   display: block;
   background-color: #F0F0F0;
   padding: 5%;
   width: 80%;
   margin: 5%;
}

.main-nav li {
   list-style-type: none;
   font-weight: bolder;
   text-transform: uppercase;
}