* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*BASE ELEMENT CSS*/

h1 {
    font-weight: bolder;
}

body, 
h1 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;

}

ul {
    padding-left: 0;

}

p {
    line-height: 1.5em;

}

/*LAYOUT STYLES*/

.main-header {
    text-align: center;
    background-color: #DDDDDD;
}

.main-header p {
padding: 5%  0 12%;

}

.profile-photo {
    width: 90%;

}

.content-title {
    text-align: center;
  
}

.content-title h2 {
    font-weight: bolder;

}

.content-container {
    text-align: center;

}

.content-container p {
    padding: 0 3% 3%;

}

.contact-container {
   text-align: center; 

}

/*Navigation*/

.main-nav a {
   text-decoration: none;
   color: black;
   display: block;
   background-color: #F0F0F0;
   padding: 5%;
   margin: 5%;
}

.main-nav li {
   list-style-type: none;
   font-weight: bolder;
   text-transform: uppercase;
}